@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <button type="button" class="btn btn-primary" id="btnModal1">Otevři první modal</button>
</div>
<!-- Modal -->
<div class="modal fade" id="modal_1" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
        <div class="modal-content" id="modalKarta">
            <div class="modal-header">
                <h5 class="modal-title">modalKarta</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span class="krizekZavrit" aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="modal-body">

                <button type="button" class="btn btn-danger" id="btnModal2">Otevři druhý modal</button>

                <br /><br />
                Britský spisovatel se narodil v indické Bombaji jako syn malíře pracujícího pro britskou koloniální správu a dětství prožil v Indii, kam se po absolvování anglické internátní školy roku 1881 opět vrátil. Stal se pomocníkem šéfredaktora anglických novin v Láhaur, kde mu otiskli první verše a krátké povídky. Přestože pak v Indii strávil pouhých sedm let, načerpal tu náměty pro svou nejlepší tvorbu. V 80. letech 19. století se definitivně prosadil jako básník a posléze i jako prozaik. Podnikl cesty do Číny, Japonska a Spojených států. Po sňatku s Američankou Caroline Balestierovou roku 1892 žil čtyři roky ve Vermontu v USA, kde napsal své asi nejslavnější dílo Knihy džunglí. Roku 1896 se s manželkou přestěhoval do Londýna, kde vydal své další romány, ale stále psal i poezii. Své čtenáře zaujal především cizokrajnou tematikou, popisem přírody a zvyků domorodců a pozoruhodným uměleckým jazykem. Přelom století znamenal vrchol jeho literárních úspěchů a roku 1907 mu byla udělena Nobelova cena za literaturu. Třebaže dál aktivně psal až do počátku 30. let, nedosáhl již předchozích úspěchů; jeho tvorbu poznamenala i smrt syna Johna během 1. světové války.
                Britský spisovatel se narodil v indické Bombaji jako syn malíře pracujícího pro britskou koloniální správu a dětství prožil v Indii, kam se po absolvování anglické internátní školy roku 1881 opět vrátil. Stal se pomocníkem šéfredaktora anglických novin v Láhaur, kde mu otiskli první verše a krátké povídky. Přestože pak v Indii strávil pouhých sedm let, načerpal tu náměty pro svou nejlepší tvorbu. V 80. letech 19. století se definitivně prosadil jako básník a posléze i jako prozaik. Podnikl cesty do Číny, Japonska a Spojených států. Po sňatku s Američankou Caroline Balestierovou roku 1892 žil čtyři roky ve Vermontu v USA, kde napsal své asi nejslavnější dílo Knihy džunglí. Roku 1896 se s manželkou přestěhoval do Londýna, kde vydal své další romány, ale stále psal i poezii. Své čtenáře zaujal především cizokrajnou tematikou, popisem přírody a zvyků domorodců a pozoruhodným uměleckým jazykem. Přelom století znamenal vrchol jeho literárních úspěchů a roku 1907 mu byla udělena Nobelova cena za literaturu. Třebaže dál aktivně psal až do počátku 30. let, nedosáhl již předchozích úspěchů; jeho tvorbu poznamenala i smrt syna Johna během 1. světové války.
                Britský spisovatel se narodil v indické Bombaji jako syn malíře pracujícího pro britskou koloniální správu a dětství prožil v Indii, kam se po absolvování anglické internátní školy roku 1881 opět vrátil. Stal se pomocníkem šéfredaktora anglických novin v Láhaur, kde mu otiskli první verše a krátké povídky. Přestože pak v Indii strávil pouhých sedm let, načerpal tu náměty pro svou nejlepší tvorbu. V 80. letech 19. století se definitivně prosadil jako básník a posléze i jako prozaik. Podnikl cesty do Číny, Japonska a Spojených států. Po sňatku s Američankou Caroline Balestierovou roku 1892 žil čtyři roky ve Vermontu v USA, kde napsal své asi nejslavnější dílo Knihy džunglí. Roku 1896 se s manželkou přestěhoval do Londýna, kde vydal své další romány, ale stále psal i poezii. Své čtenáře zaujal především cizokrajnou tematikou, popisem přírody a zvyků domorodců a pozoruhodným uměleckým jazykem. Přelom století znamenal vrchol jeho literárních úspěchů a roku 1907 mu byla udělena Nobelova cena za literaturu. Třebaže dál aktivně psal až do počátku 30. let, nedosáhl již předchozích úspěchů; jeho tvorbu poznamenala i smrt syna Johna během 1. světové války.
                Britský spisovatel se narodil v indické Bombaji jako syn malíře pracujícího pro britskou koloniální správu a dětství prožil v Indii, kam se po absolvování anglické internátní školy roku 1881 opět vrátil. Stal se pomocníkem šéfredaktora anglických novin v Láhaur, kde mu otiskli první verše a krátké povídky. Přestože pak v Indii strávil pouhých sedm let, načerpal tu náměty pro svou nejlepší tvorbu. V 80. letech 19. století se definitivně prosadil jako básník a posléze i jako prozaik. Podnikl cesty do Číny, Japonska a Spojených států. Po sňatku s Američankou Caroline Balestierovou roku 1892 žil čtyři roky ve Vermontu v USA, kde napsal své asi nejslavnější dílo Knihy džunglí. Roku 1896 se s manželkou přestěhoval do Londýna, kde vydal své další romány, ale stále psal i poezii. Své čtenáře zaujal především cizokrajnou tematikou, popisem přírody a zvyků domorodců a pozoruhodným uměleckým jazykem. Přelom století znamenal vrchol jeho literárních úspěchů a roku 1907 mu byla udělena Nobelova cena za literaturu. Třebaže dál aktivně psal až do počátku 30. let, nedosáhl již předchozích úspěchů; jeho tvorbu poznamenala i smrt syna Johna během 1. světové války.

            </div>
        </div>
    </div>
</div>

<!-- Modal fotka -->
<div class="modal fade" id="modal_2" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
        <div class="modal-content" id="modalFotka">
            <div class="modal-header">
                <h5 class="modal-title">modalFotka</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span class="krizekZavrit" aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="modal-body">

                <br /><br />
                Britský spisovatel se narodil v indické Bombaji jako syn malíře pracujícího pro britskou koloniální správu a dětství prožil v Indii, kam se po absolvování anglické internátní školy roku 1881 opět vrátil. Stal se pomocníkem šéfredaktora anglických novin v Láhaur, kde mu otiskli první verše a krátké povídky. Přestože pak v Indii strávil pouhých sedm let, načerpal tu náměty pro svou nejlepší tvorbu. V 80. letech 19. století se definitivně prosadil jako básník a posléze i jako prozaik. Podnikl cesty do Číny, Japonska a Spojených států. Po sňatku s Američankou Caroline Balestierovou roku 1892 žil čtyři roky ve Vermontu v USA, kde napsal své asi nejslavnější dílo Knihy džunglí. Roku 1896 se s manželkou přestěhoval do Londýna, kde vydal své další romány, ale stále psal i poezii. Své čtenáře zaujal především cizokrajnou tematikou, popisem přírody a zvyků domorodců a pozoruhodným uměleckým jazykem. Přelom století znamenal vrchol jeho literárních úspěchů a roku 1907 mu byla udělena Nobelova cena za literaturu. Třebaže dál aktivně psal až do počátku 30. let, nedosáhl již předchozích úspěchů; jeho tvorbu poznamenala i smrt syna Johna během 1. světové války.
                Britský spisovatel se narodil v indické Bombaji jako syn malíře pracujícího pro britskou koloniální správu a dětství prožil v Indii, kam se po absolvování anglické internátní školy roku 1881 opět vrátil. Stal se pomocníkem šéfredaktora anglických novin v Láhaur, kde mu otiskli první verše a krátké povídky. Přestože pak v Indii strávil pouhých sedm let, načerpal tu náměty pro svou nejlepší tvorbu. V 80. letech 19. století se definitivně prosadil jako básník a posléze i jako prozaik. Podnikl cesty do Číny, Japonska a Spojených států. Po sňatku s Američankou Caroline Balestierovou roku 1892 žil čtyři roky ve Vermontu v USA, kde napsal své asi nejslavnější dílo Knihy džunglí. Roku 1896 se s manželkou přestěhoval do Londýna, kde vydal své další romány, ale stále psal i poezii. Své čtenáře zaujal především cizokrajnou tematikou, popisem přírody a zvyků domorodců a pozoruhodným uměleckým jazykem. Přelom století znamenal vrchol jeho literárních úspěchů a roku 1907 mu byla udělena Nobelova cena za literaturu. Třebaže dál aktivně psal až do počátku 30. let, nedosáhl již předchozích úspěchů; jeho tvorbu poznamenala i smrt syna Johna během 1. světové války.
                Britský spisovatel se narodil v indické Bombaji jako syn malíře pracujícího pro britskou koloniální správu a dětství prožil v Indii, kam se po absolvování anglické internátní školy roku 1881 opět vrátil. Stal se pomocníkem šéfredaktora anglických novin v Láhaur, kde mu otiskli první verše a krátké povídky. Přestože pak v Indii strávil pouhých sedm let, načerpal tu náměty pro svou nejlepší tvorbu. V 80. letech 19. století se definitivně prosadil jako básník a posléze i jako prozaik. Podnikl cesty do Číny, Japonska a Spojených států. Po sňatku s Američankou Caroline Balestierovou roku 1892 žil čtyři roky ve Vermontu v USA, kde napsal své asi nejslavnější dílo Knihy džunglí. Roku 1896 se s manželkou přestěhoval do Londýna, kde vydal své další romány, ale stále psal i poezii. Své čtenáře zaujal především cizokrajnou tematikou, popisem přírody a zvyků domorodců a pozoruhodným uměleckým jazykem. Přelom století znamenal vrchol jeho literárních úspěchů a roku 1907 mu byla udělena Nobelova cena za literaturu. Třebaže dál aktivně psal až do počátku 30. let, nedosáhl již předchozích úspěchů; jeho tvorbu poznamenala i smrt syna Johna během 1. světové války.
                Britský spisovatel se narodil v indické Bombaji jako syn malíře pracujícího pro britskou koloniální správu a dětství prožil v Indii, kam se po absolvování anglické internátní školy roku 1881 opět vrátil. Stal se pomocníkem šéfredaktora anglických novin v Láhaur, kde mu otiskli první verše a krátké povídky. Přestože pak v Indii strávil pouhých sedm let, načerpal tu náměty pro svou nejlepší tvorbu. V 80. letech 19. století se definitivně prosadil jako básník a posléze i jako prozaik. Podnikl cesty do Číny, Japonska a Spojených států. Po sňatku s Američankou Caroline Balestierovou roku 1892 žil čtyři roky ve Vermontu v USA, kde napsal své asi nejslavnější dílo Knihy džunglí. Roku 1896 se s manželkou přestěhoval do Londýna, kde vydal své další romány, ale stále psal i poezii. Své čtenáře zaujal především cizokrajnou tematikou, popisem přírody a zvyků domorodců a pozoruhodným uměleckým jazykem. Přelom století znamenal vrchol jeho literárních úspěchů a roku 1907 mu byla udělena Nobelova cena za literaturu. Třebaže dál aktivně psal až do počátku 30. let, nedosáhl již předchozích úspěchů; jeho tvorbu poznamenala i smrt syna Johna během 1. světové války.

            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function() {
        $("#btnModal1").click(function() {
            $('#modal_1').modal('show');
        });
    });
    
    $("#btnModal2").click(function () {
        $('#modal_1').modal('hide');
        $('#modal_2').modal('show');
    });
</script>